<!-- Navbar -->
<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button>
   <mat-icon>home</mat-icon>
 </button>
 <span>{{title}}</span>
 <div class="app-menu">
   <a mat-button routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a>
   <a mat-button routerLink="/heroes" routerLinkActive="active">HEROES</a>
   <a mat-button routerLink="/crisis-center" routerLinkActive="active">CRISIS CENTER</a>
   <a mat-button [routerLink]="[{ outlets: { popup: ['compose'] }}]">CONTACT</a>
</div>
 <span class="app-spacer"></span>
 <button mat-icon-button aria-label="Example icon-button with heart icon">
   <mat-icon>favorite</mat-icon>
 </button>
 <button mat-icon-button aria-label="Example icon-button with share icon">
  <mat-icon>share</mat-icon>
</button>
</mat-toolbar>
<!--  -->
<main [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
  <router-outlet name="popup"></router-outlet>
</main>
<footer>
  <app-messages></app-messages>
</footer>