/* DashboardComponent's private CSS styles */
h2 {
  display: block;
  margin-bottom: 0.5rem;
}

.heroes-menu {
  padding: 0;
  margin: auto;

  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  text-decoration: none;
}

.hero-card {
  margin: 1rem auto;
  width: 13.5rem;
  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.hero-card img {
  height: auto;
}
/* @media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: #000;
} */